.skills {
  position: relative;
  height: 100vh;
  /* border: 1px solid red; */
  background-color: var(--bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.skills_container {
  margin-top: 5rem;
  /* border: 1px solid rebeccapurple; */
  width: 90%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  padding: 0rem;
}

/* Coding skills */

.skills_container_codingSkills h2,
.skills_container_Tools h2 {
  text-align: center;
  font-weight: 800;
  color: var(--main-bg-color);
  margin: 0 auto;
  transition: all 0.4s ease-in;
}

.skills_container_codingSkills h2:hover,
.skills_container_Tools h2:hover {
  color: var(--text-color);
  transform: scale(1.2);
}

.skills_container_codingSkills_data,
.skills_container_Tools_data {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 2rem;
}

.skills_container_codingSkills_info,
.skills_container_Tools_info {
  border: 3px solid var(--main-bg-color);
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem 1.5rem;
  padding: 2rem 0rem;
  box-shadow: rgba(7, 214, 204, 0.4) 0px 5px 10px;
  transition: all 0.4s ease-in;
}

.skills_container_codingSkills_info p,
.skills_container_Tools_info p {
  margin-top: 1rem;
  font-weight: 700;
}

.skills_container_codingSkills_info:hover,
.skills_container_Tools_info:hover {
  transform: scale(1.15);
}

/* Media Query */

@media screen and (min-device-width: 200px) and (max-device-width: 1200px) {
  .skills_container {
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
    margin-top: 2rem;
    gap: 0.8rem;
    padding: 0.5rem;
  }

  .skills_container_codingSkills_data,
  .skills_container_Tools_data {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 0.2rem;
    width: 100%;
  }

  .skills_container_codingSkills_info,
  .skills_container_Tools_info {
    padding: 0.4rem;
    margin: 0.4rem 0.6rem;
    padding: 0.4rem 0rem;
    border: 2px solid var(--main-bg-color);
    border-radius: 1rem;
    overflow: hidden;
  }

  .skills_container_codingSkills_info img,
  .skills_container_Tools_info img {
    width: 2rem;
    height: 2.4rem;
  }

  .skills_container_codingSkills h2,
  .skills_container_Tools h2 {
    font-size: 1rem;
    margin-bottom: 0.4rem;
    width: 82%;
  }

  .skills_container_codingSkills_info p,
  .skills_container_Tools_info p {
    margin-top: 0.2rem;
    font-size: 0.8rem;
    text-align: center;
  }
}

@media screen and (min-device-width: 700px) and (max-device-width: 1200px) {
  .skills_container_codingSkills h2,
  .skills_container_Tools h2 {
    font-size: 1.2rem;
    margin-bottom: 0.4rem;
    width: 82%;
  }

  .skills_container_codingSkills_info,
  .skills_container_Tools_info {
    margin: 0.4rem 2rem;
    padding: 1.5rem 0rem;
    border: 2px solid var(--main-bg-color);
    border-radius: 1rem;
    overflow: hidden;
  }
}
